[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DAAGbio"]
	path = DAAGbio
	url = https://github.com/cran/DAAGbio
[submodule "gamclass"]
	path = gamclass
	url = https://github.com/jhmaindonald/gamclass
[submodule "hddplot"]
	path = hddplot
	url = https://github.com/cran/hddplot
[submodule "hwde"]
	path = hwde
	url = https://github.com/cran/hwde
[submodule "qra"]
	path = qra
	url = https://github.com/jhmaindonald/qra
[submodule "tTOlr"]
	path = tTOlr
	url = https://github.com/cran/tTOlr
